* @szokeasaurusrex @getsentry/owners-sentry-cli

# Files co-owned by JavaScript SDK team
/.cursor/rules/javascript-development.mdc @getsentry/team-javascript-sdks @getsentry/owners-sentry-cli
/.npmignore @getsentry/team-javascript-sdks @getsentry/owners-sentry-cli
/bin/ @getsentry/team-javascript-sdks @getsentry/owners-sentry-cli  # these are the JS "binaries"
/lib @getsentry/team-javascript-sdks @getsentry/owners-sentry-cli
/package.json @getsentry/team-javascript-sdks @getsentry/owners-sentry-cli
/scripts/*.js @getsentry/team-javascript-sdks @getsentry/owners-sentry-cli
/tsconfig.json @getsentry/team-javascript-sdks @getsentry/owners-sentry-cli

# Files co-owned by Emerge Tools team
/apple-catalog-parsing @getsentry/emerge-tools @getsentry/owners-sentry-cli
/src/commands/build @getsentry/emerge-tools @getsentry/owners-sentry-cli
/src/utils/build @getsentry/emerge-tools @getsentry/owners-sentry-cli
/tests/integration/build @getsentry/emerge-tools @getsentry/owners-sentry-cli
