{
  "extends": ["eslint:recommended", "prettier"],
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 9
  },
  "overrides": [
    {
      "env": {
        "jest": true
      },
      "files": ["*.test.js"]
    }
  ]
}
