language: generic
dist: trusty
services:
  - docker

env:
  global:
    - SENTRY_ORG=sentry-cli-travis-test
    # SENTRY_AUTH_TOKEN
    - secure: "ttDTQaBws1yMz+aTEsQRxiiVGT2v/7KXMskATFxQGjTiPn3InJc9SQDbqtgrFiRJsc5NGJSKKmgR6IV8HqkYcimzpNZkUmzIZ/JkOv6yz4Gag7CHNrzk2OezoUvYglO8JCiR/WlkEHsGA6OjYaSaL1++FOPVfij56TYmWVp1fZH0pSmrD0o7qtEauUI5vExwB1GuPP0C0Drogf6gYMPoF89tetubM7NVyXCGr7HYPpzo3dDDOUOH/6R/RdGAr5AjA69qJQ0j4w/0ptw9kJt0frC8JF5l6zavufodcRnWFB4MHRQSDwvXtSWO1eiYsNrmeVMRrND2bxSNPDJhrlVH4sJNw1DKlCWfV1EdRlLcOh1du1Aq99jRB+oOXuxQbBUd9rH6A3ZIU+8IYP4QonmLlG+8WvhhmEYoq5ERBXdWfG2BDUKqa4XaCdTej/6AYnbG0DDwzOIZ6AuFIDhXUB60Z0t+tLOe2aSK3yXIxz0Wy+DsGqcHW0wYSiGeB1Vn/CFt1jh+HvD923X5BQtH3xsfTDQWrps4RntK3GrTaLYULiNCHoDyvb9bprmVQhB+smST53QOKsN73YsqPSEt9D6QHzeYxqVI5jSi7HFZX4EyZLGoXASnCWAdeC799FDRUdI3ncE48ojeg6PpHvLl5CWt87v1uWIq7kPsnO1W9mB2Rqs="

branches:
  only:
  - master
  - /^release\/[\d.]+$/

cache:
  directories:
    - "node_modules"
    - $HOME/.cargo
    - $TRAVIS_BUILD_DIR/target

before_install:
  - npm install -g @zeus-ci/cli

matrix:
  include:
    # - name: "check: format"
    #   language: rust
    #   script: make format-check

    # - name: "check: lint"
    #   language: rust
    #   script: make lint

    # - name: "test: rust"
    #   language: rust
    #   script: make test

    # - name: "test: node 4"
    #   os: linux
    #   language: node_js
    #   node_js: "4"
    #   install: true
    #   env: SENTRYCLI_LOCAL_CDNURL="http://localhost:8999/"
    #   script: npm install && npm test

    # - name: "test: node 10"
    #   os: linux
    #   language: node_js
    #   node_js: "10"
    #   install: true
    #   env: SENTRYCLI_LOCAL_CDNURL="http://localhost:8999/"
    #   script: npm install && npm test

    # - name: "build: linux x86"
    #   os: linux
    #   sudo: required
    #   env:
    #     - TARGET=i686-unknown-linux-musl
    #     - DOCKER_TAG=i686-musl
    #   script:
    #     - bash scripts/build-in-docker.sh
    #     - zeus upload -t "application/octet-stream"
    #                   -n "sentry-cli-Linux-i686"
    #                   "./target/${TARGET}/release/sentry-cli" || [[ ! "$TRAVIS_BRANCH" =~ ^release/ ]]

    # - name: "build: linux x86_64"
    #   os: linux
    #   sudo: required
    #   env:
    #     - TARGET=x86_64-unknown-linux-musl
    #     - DOCKER_TAG=x86_64-musl
    #   script:
    #     - bash scripts/build-in-docker.sh
    #     - zeus upload -t "application/octet-stream"
    #                   -n "sentry-cli-Linux-x86_64"
    #                   "./target/${TARGET}/release/sentry-cli" || [[ ! "$TRAVIS_BRANCH" =~ ^release/ ]]

    # - name: "build: macOS x86_64"
    #   os: osx
    #   # Build on older OS X for more portable binaries
    #   osx_image: xcode8
    #   language: rust
    #   env:
    #     - TARGET=x86_64-apple-darwin
    #   script:
    #     - cargo build --release --locked
    #     - cargo run --release -- releases list || [[ ! "${TRAVIS_PULL_REQUEST_SLUG?x}" =~ ^(getsentry/sentry-cli)?$ ]]
    #     - zeus upload -t "application/octet-stream"
    #                   -n "sentry-cli-Darwin-x86_64"
    #                   "./target/release/sentry-cli" || [[ ! "$TRAVIS_BRANCH" =~ ^release/ ]]

    - name: "build: Windows x86_64"
      os: windows
      language: rust
      env:
        - TARGET=x86_64-pc-windows-msvc
      before_install: skip
      script: travis_wait 30 cargo build --release --locked

    # - name: "build: NPM package"
    #   os: linux
    #   language: node_js
    #   node_js: "8"
    #   install: true
    #   env: TARGET=npm
    #   script:
    #     - npm pack
    #     - zeus upload -t "application/tar+npm" *.tgz || [[ ! "$TRAVIS_BRANCH" =~ ^release/ ]]

notifications:
  webhooks:
    urls:
      - https://zeus.ci/hooks/94ed0760-efce-11e7-9b3c-0a580a282505/public/provider/travis/webhook
    on_success: always
    on_failure: always
    on_start: always
    on_cancel: always
    on_error: always
