language: generic
sudo: required
dist: trusty
services:
  - docker

branches:
  only:
  - master

install:
  - export PATH="$PATH:$HOME/.cargo/bin"

matrix:
  include:
    # Linux 32-bit statically linked binary
    - os: linux
      env:
        - TARGET=i686-unknown-linux-musl
        - DOCKER_IMAGE=messense/rust-musl-cross:i686-musl
      script: bash .ci/build_in_docker.sh

    # Linux 64-bit statically linked binary
    - os: linux
      env:
        - TARGET=x86_64-unknown-linux-musl
        - DOCKER_IMAGE=messense/rust-musl-cross:x86_64-musl
      script: bash .ci/build_in_docker.sh

    # Build on older OS X for more portable binaries
    - os: osx
      osx_image: xcode6.4
      env: TARGET=x86_64-apple-darwin
      script:
        - bash .ci/install.sh
        - cargo build --release --locked

    # Test minimum js
    - os: linux
      sudo: false
      language: node_js
      node_js: "4"
      install: true
      env: SENTRYCLI_LOCAL_CDNURL="http://localhost:8999/"
      script: npm install && npm test

    # Test latest js
    - os: linux
      sudo: false
      language: node_js
      node_js: "8"
      install: true
      env: SENTRYCLI_LOCAL_CDNURL="http://localhost:8999/"
      script: npm install && npm test

    # Build the @sentry/cli NPM package
    - os: linux
      sudo: false
      language: node_js
      node_js: "8"
      install: true
      before_deploy: mkdir -p dist && mv *.tgz dist/package.tgz
      env: TARGET=npm
      script: npm pack

before_cache:
  - chmod -R a+r $HOME/.cargo

cache:
  directories:
    - "node_modules"
    - $HOME/.cargo
    - $TRAVIS_BUILD_DIR/target

before_deploy: python .ci/move-asset.py

deploy:
  provider: s3
  access_key_id: AKIAJKYWAF3QS7SFL75Q
  secret_access_key:
    secure: ChlFKqMUfbQvGY/mfczQOSorb5ZePWZVbcqkabOEdusXa16I5GxOKjHtf5ND6wo+uQ8w8o6OyfexiEPywdnMJRklp/Byw4PkfLVdk09vR1z1nzXTEPbVFLbDY6b4H6FLeFIsq1ANZTRg12XA3reCkc6i5FmNwtlwvq2sjb/Z2i/VsIW1cPgSpX+ONc4l3c6k8LM9whD1M9/JXFaNfj1IFUNZlrf20RQdUCNPP5BwLqjneXhuw+rBRwJ2sTPgjBQWRa5YKKj+MR3dcw1MlMAwJeiZuTNksipl/CgP1RpyFIgIu9/JS74h4J9RWw/+VsD4pg4bZ7Q4TL0kGDhgwytDa0zSItWAmDSYEy306I2Be3uyhCKafTtoaXgDfaGXdQYDcruQYHoAdzxge2H1s/mc8weLYM0aLmIWzqsX4jktfABrp80INvbxiemoaudUmwsAbw/kfbxcIsPuVjY0kLuT9jyfcvLWVZSsxN5u/kqAVpDPGKl6leb5gQNpr5afUOEXXxkAWXJfU+GQi2Vc1PSX6Uwy0nosWaNN7FTnGjJ3jjJBppOM3n52Wp4IO8Z4wiINQUFRqOUTzZVh9lA1D2jAg/n2Y6w3F+60/+UtjHNswoaw+IszlzMzzNmsDkLAiBv1GHI5BVx7f48+ciMrduiZ+toepRmRHW1E1PLxW+aqLV0=
  skip_cleanup: true
  acl: public_read
  bucket: getsentry-builds
  upload-dir: $TRAVIS_REPO_SLUG/$TRAVIS_COMMIT
  local_dir: dist
  on:
    condition: "-n $TARGET" # we only want to trigger deploy on TARGET
