language: generic
sudo: required
dist: trusty
services:
  - docker

if: tag IS blank

matrix:
  include:
    - os: linux
      env: TARGET=i686-unknown-linux-gnu DOCKER=alexcrichton/rust-slave-dist:2015-10-20b
    - os: linux
      env: TARGET=x86_64-unknown-linux-gnu DOCKER=alexcrichton/rust-slave-dist:2015-10-20b

    # Build on older OS X for more portable binaries
    - os: osx
      osx_image: xcode6.4
      env: TARGET=x86_64-apple-darwin

    # Test minium js
    - os: linux
      sudo: false
      language: node_js
      node_js: 4
      install: skip
      script: npm install && npm test
      env: TARGET="npm test"

    # Test latest js
    - os: linux
      sudo: false
      language: node_js
      node_js: 8
      install: skip
      script: npm install && npm test
      env:
        - TARGET="npm test"
        - SENTRY_LOCAL_DOWNLOAD_URL="http://localhost:8999/"

    # Build the sentry-cli-binary NPM package
    - os: linux
      sudo: false
      language: node_js
      node_js: 8
      install: skip
      script: npm pack
      before_deploy: mkdir -p dist && mv *.tgz dist/package.tgz
      env: TARGET="npm pack"


install:
  - export PATH="$PATH:$HOME/.cargo/bin"
  - bash .ci/install.sh

script:
  - mkdir -p target
  - if [ ! -z "$DOCKER" ]; then
      docker run
        --entrypoint bash
        -u `id -u`:`id -g`
        -v $HOME/rust:/travis-rust:ro
        -v `pwd`:/buildslave:ro
        -v `pwd`/target:/buildslave/target
        -e TARGET=$TARGET
        -e SKIP_TESTS=$SKIP_TESTS
        -it $DOCKER
        .ci/build-docker.sh;
    else
      PATH=$HOME/rust/bin:$PATH sh .ci/build.sh;
    fi

before_cache:
  - chmod -R a+r $HOME/.cargo

cache:
  directories:
    - "node_modules"
    - $HOME/.cargo
    - $TRAVIS_BUILD_DIR/target

before_deploy: python .ci/move-asset.py

deploy:
  provider: s3
  access_key_id: AKIAJKYWAF3QS7SFL75Q
  secret_access_key:
    secure: ChlFKqMUfbQvGY/mfczQOSorb5ZePWZVbcqkabOEdusXa16I5GxOKjHtf5ND6wo+uQ8w8o6OyfexiEPywdnMJRklp/Byw4PkfLVdk09vR1z1nzXTEPbVFLbDY6b4H6FLeFIsq1ANZTRg12XA3reCkc6i5FmNwtlwvq2sjb/Z2i/VsIW1cPgSpX+ONc4l3c6k8LM9whD1M9/JXFaNfj1IFUNZlrf20RQdUCNPP5BwLqjneXhuw+rBRwJ2sTPgjBQWRa5YKKj+MR3dcw1MlMAwJeiZuTNksipl/CgP1RpyFIgIu9/JS74h4J9RWw/+VsD4pg4bZ7Q4TL0kGDhgwytDa0zSItWAmDSYEy306I2Be3uyhCKafTtoaXgDfaGXdQYDcruQYHoAdzxge2H1s/mc8weLYM0aLmIWzqsX4jktfABrp80INvbxiemoaudUmwsAbw/kfbxcIsPuVjY0kLuT9jyfcvLWVZSsxN5u/kqAVpDPGKl6leb5gQNpr5afUOEXXxkAWXJfU+GQi2Vc1PSX6Uwy0nosWaNN7FTnGjJ3jjJBppOM3n52Wp4IO8Z4wiINQUFRqOUTzZVh9lA1D2jAg/n2Y6w3F+60/+UtjHNswoaw+IszlzMzzNmsDkLAiBv1GHI5BVx7f48+ciMrduiZ+toepRmRHW1E1PLxW+aqLV0=
  skip_cleanup: true
  acl: public_read
  bucket: getsentry-builds
  upload-dir: $TRAVIS_REPO_SLUG/$TRAVIS_COMMIT
  local_dir: dist
