skip_tags: true

cache:
  - 'target'
  - '%USERPROFILE%\.cargo'

environment:
  fast_finish: true
  DIST_DIR: '.'

  matrix:
    - channel: stable
      target: i686-pc-windows-msvc
    - channel: stable
      target: x86_64-pc-windows-msvc

install:
  - appveyor DownloadFile https://win.rustup.rs/ -FileName rustup-init.exe
  - rustup-init -yv --default-toolchain %channel% --default-host %target%
  - set PATH=%PATH%;%USERPROFILE%\.cargo\bin
  - rustc -vV
  - cargo -vV

build: false

test_script:
  - set RUSTFLAGS=-Ctarget-feature=+crt-static
  - cargo build --release --locked

after_test:
  - C:\Python27\python .ci/move-asset.py

artifacts:
  - path: 'sentry-cli-*.exe'

deploy:
  provider: S3
  access_key_id: AKIAJKYWAF3QS7SFL75Q
  secret_access_key:
    secure: Jk6F78pedve8W++5KDviGUw07CA5mjtuAZNBbiY1zbAaDCtZhX0lZOVQLns36eRp
  bucket: getsentry-builds
  set_public: true
  folder: $(APPVEYOR_REPO_NAME)/$(APPVEYOR_REPO_COMMIT)
  artifact: /.*/
