skip_tags: true

cache:
  - 'target -> appveyor.yml'
  - '%USERPROFILE%\.cargo'

environment:
  fast_finish: true
  DIST_DIR: '.'

  matrix:
    - TARGET: i686-pc-windows-msvc
    - TARGET: x86_64-pc-windows-msvc

install:
  - set PATH=C:\Program Files\Git\mingw64\bin;%PATH%
  # Install rust, x86_64-pc-windows-msvc host
  # FIXME: switch back to win.rustup.rs
  - curl -sSf -o rustup-init.exe https://dev-static.rust-lang.org/rustup/dist/i686-pc-windows-gnu/rustup-init.exe
  - rustup-init.exe -y
  - set PATH=%PATH%;C:\Users\appveyor\.cargo\bin
  - rustup default stable-%TARGET%

  # let's see what we got
  - where rustc cargo
  - rustc -vV
  - cargo -vV
  - set CARGO_TARGET_DIR=%CD%\target

build: false

test_script:
  - cargo build --release

after_test:
  - C:\Python27\python .ci/move-asset.py

artifacts:
  - path: 'sentry-cli-*.exe'

deploy:
  provider: S3
  access_key_id: AKIAJKYWAF3QS7SFL75Q
  secret_access_key:
    secure: Jk6F78pedve8W++5KDviGUw07CA5mjtuAZNBbiY1zbAaDCtZhX0lZOVQLns36eRp
  bucket: getsentry-builds
  set_public: true
  folder: $(APPVEYOR_REPO_NAME)/$(APPVEYOR_REPO_COMMIT)
  artifact: /.*/
