[package]
authors = ["Armin Ronacher <armin.ronacher@active-4.com>"]
build = "build.rs"
name = "sentry-cli"
version = "1.30.3"

[dependencies]
anylog = "0.2.1"
app_dirs = "1.1.1"
backtrace = "0.3.5"
chardet = "0.2.4"
console = "0.6.1"
curl = "0.4.11"
dotenv = "0.11.0"
elementtree = "0.5.0"
encoding = "0.2.33"
error-chain = "0.11.0"
glob = "0.2.11"
hostname = "0.1.4"
if_chain = "0.1.2"
ignore = "0.4.1"
indicatif = "0.9.0"
itertools = "0.7.7"
java-properties = "1.1.0"
lazy_static = "1.0.0"
libc = "0.2.39"
log = "0.4.1"
might-be-minified = "0.2.1"
open = "1.2.1"
parking_lot = "0.5.4"
plist = "0.2.4"
prettytable-rs = "0.6.7"
regex = "0.2.10"
runas = "0.1.4"
rust-ini = "0.10.3"
scoped_threadpool = "0.1.9"
serde = "1.0.33"
serde_derive = "1.0.33"
serde_json = "1.0.12"
sourcemap = "2.2.0"
symbolic-common = { version = "2.0.7", features = ["with_serde"] }
symbolic-debuginfo = { version = "2.0.7", features = ["with_serde"] }
symbolic-proguard = "2.0.7"
url = "1.7.0"
username = "0.2.0"
walkdir = "2.1.4"
which = "1.0.5"
zip = "0.3.1"

[dependencies.chrono]
features = ["serde"]
version = "0.4.0"

[dependencies.clap]
default-features = false
features = ["suggestions", "wrap_help"]
version = "2.31.2"

[dependencies.git2]
default-features = false
version = "0.7.0"

[dependencies.sha1]
features = ["serde"]
version = "0.6.0"

[dependencies.uuid]
features = ["v4", "serde"]
version = "0.6.1"

[features]
managed = []

[target]

[target."cfg(target_os = \"macos\")"]

[target."cfg(target_os = \"macos\")".dependencies]
mac-process-info = "0.1.0"
osascript = "0.3.0"
unix-daemonize = "0.1.2"

[target."cfg(unix)"]

[target."cfg(unix)".dependencies]
chan = "0.1.21"
chan-signal = "0.3.1"
openssl-probe = "0.1.2"
uname = "0.1.1"

[replace]
"symbolic-common:2.0.7" = { git = "https://github.com/getsentry/symbolic" }
"symbolic-debuginfo:2.0.7" = { git = "https://github.com/getsentry/symbolic" }
"symbolic-proguard:2.0.7" = { git = "https://github.com/getsentry/symbolic" }
