[package]
authors = ["Armin Ronacher <armin.ronacher@active-4.com>"]
build = "build.rs"
name = "sentry-cli"
version = "1.27.1"

[dependencies]
anylog = "0.2.0"
app_dirs = "1.1.1"
backtrace = "0.3.4"
chardet = "0.2.4"
chrono = { version = "0.4.0", features = ["serde"] }
clap = { version = "2.29.0", default-features = false, features = ["suggestions", "wrap_help"] }
console = "0.5.0"
curl = "0.4.8"
dotenv = "0.10.1"
elementtree = "0.5.0"
encoding = "0.2.33"
error-chain = "0.11.0"
git2 = { version = "0.6.9", default-features = false }
glob = "0.2.11"
hostname = "0.1.3"
humansize = "1.0.2"
if_chain = "0.1.2"
ignore = "0.3.1"
indicatif = "0.8.0"
itertools = "0.7.4"
java-properties = "1.1.0"
lazy_static = "1.0.0"
libc = "0.2.34"
log = "0.3.8"
mach_object = "0.1.6"
memmap = "0.6.1"
might-be-minified = "0.2.1"
open = "1.2.1"
plist = "0.2.4"
prettytable-rs = "0.6.7"
regex = "0.2.3"
runas = "0.1.4"
rust-ini = "0.10.0"
serde = "1.0.24"
serde_derive = "1.0.24"
serde_json = "1.0.8"
sha1 = "0.3.0"
sourcemap = "2.2.0"
symbolic-common = "2.0.0"
symbolic-debuginfo = "2.0.0"
symbolic-proguard = "2.0.0"
url = "1.6.0"
username = "0.2.0"
uuid = { version = "0.5.1", features = ["v4", "serde"] }
walkdir = "2.0.1"
which = "1.0.3"
zip = "0.2.6"
parking_lot = "0.5.3"

[profile.dev]
codegen-units = 2

[target."cfg(not(windows))"]

[target."cfg(not(windows))".dependencies]
chan = "0.1.19"
chan-signal = "0.3.1"
openssl-probe = "0.1.2"
uname = "0.1.1"

[target."cfg(target_os=\"macos\")".dependencies]
mac-process-info = "0.1.0"
osascript = "0.3.0"
unix-daemonize = "0.1.2"

[features]
managed = []
