[package]
authors = ["Armin Ronacher <armin.ronacher@active-4.com>"]
build = "build.rs"
name = "sentry-cli"
version = "1.41.0"
edition = "2018"

[dependencies]
anylog = "0.4.0"
app_dirs = "1.2.1"
backoff = "0.1.3"
backtrace = "0.3.14"
brotli2 = "0.3.2"
chardet = "0.2.4"
chrono = { version = "0.4.6", features = ["serde"] }
clap = { version = "2.32.0", default-features = false, features = ["suggestions", "wrap_help"] }
console = "0.7.5"
curl = "0.4.20"
dirs = "1.0.5"
dotenv = "0.13.0"
elementtree = "0.5.0"
encoding = "0.2.33"
failure = "0.1.5"
failure_derive = "0.1.5"
flate2 = { version = "1.0.6", default-features = false, features = ["rust_backend"] }
git2 = { version = "0.8.0", default-features = false }
glob = "0.2.11"
hostname = "0.1.5"
if_chain = "0.1.3"
ignore = "0.4.6"
indicatif = "0.11.0"
itertools = "0.8.0"
java-properties = "1.2.0"
lazy_static = "1.3.0"
libc = "0.2.50"
log = { version = "0.4.6", features = ["std"] }
might-be-minified = "0.3.0"
open = "1.2.2"
parking_lot = "0.7.1"
plist = "0.4.1"
prettytable-rs = "0.8.0"
rayon = "1.0.3"
regex = "1.1.2"
runas = "0.1.4"
rust-ini = "0.13.0"
sentry = { version = "0.15.1", default-features = false, features = ["with_client_implementation", "with_curl_transport", "with_panic", "with_failure", "with_log", "with_device_info", "with_rust_info", "with_debug_to_log"] }
serde = { version = "1.0.89", features = ["derive"] }
serde_derive = "1.0.89"
serde_json = "1.0.39"
sha1 = { version = "0.6.0", features = ["serde"] }
sourcemap = "3.0.1"
symbolic = { version = "6.0.3", features = ["debuginfo-serde", "proguard"] }
url = "1.7.2"
username = "0.2.0"
uuid = { version = "0.7.2", features = ["v4", "serde"] }
walkdir = "2.2.7"
which = "2.0.1"
zip = "0.5.1"
r2d2 = "0.8.3"

[features]
default = ["with_crash_reporting"]
managed = []
with_crash_reporting = []

[target]

[target."cfg(target_os = \"macos\")"]

[target."cfg(target_os = \"macos\")".dependencies]
mac-process-info = "0.2.0"
osascript = "0.3.0"
unix-daemonize = "0.1.2"

[target."cfg(unix)"]

[target."cfg(unix)".dependencies]
openssl-probe = "0.1.2"
uname = "0.1.1"
signal-hook = "0.1.7"
crossbeam-channel = "0.3.8"

[profile.release]
opt-level = 3
panic = "abort"
