[package]
name = "sentry-cli"
version = "0.19.4"
authors = ["Armin Ronacher <armin.ronacher@active-4.com>"]
build = "build.rs"

[dependencies]
clap = { version = "2.9.2", default-features = false, features = ["suggestions", "wrap_help"] }
error-chain = "0.4"
serde = "0.8"
serde_json = "0.8"
serde_derive = "0.8"
url = "1.1.1"
uuid = "0.1.18"
walkdir = "0.1.5"
which = "0.1.0"
zip = "0.1.15"
sha1 = "0.2.0"
itertools = "0.4.15"
rust-ini = "0.9.5"
open = "1.1.1"
runas = "0.1.0"
log = "0.3.6"
term = "0.4.4"
curl = "0.4.0"
sourcemap = { version = "0.7.1", default-features = false, features = ["nightly"] }

[target."cfg(not(windows))".dependencies]
chan = "0.1.14"
chan-signal = "0.1.5"
