[package]
authors = ["Armin Ronacher <armin.ronacher@active-4.com>"]
build = "build.rs"
name = "sentry-cli"
version = "1.57.0"
edition = "2018"

[dependencies]
anylog = "0.5.0"
app_dirs = "1.2.1"
backoff = "0.1.6"
backtrace = "0.3.49"
brotli2 = "0.3.2"
chardet = "0.2.4"
chrono = { version = "0.4.11", features = ["serde"] }
clap = { version = "2.33.1", default-features = false, features = ["suggestions", "wrap_help"] }
console = "0.11.3"
curl = { version = "0.4.30", features = ["static-curl", "static-ssl"] }
dirs = "2.0.2"
dotenv = "0.15.0"
elementtree = "0.5.0"
encoding = "0.2.33"
failure = { version = "0.1.8", features = ["derive"] }
flate2 = { version = "1.0.16", default-features = false, features = ["rust_backend"] }
git2 = { version = "0.13.6", default-features = false }
glob = "0.3.0"
if_chain = "1.0.0"
ignore = "0.4.16"
indicatif = "0.14.0"
itertools = "0.9.0"
java-properties = "1.2.0"
lazy_static = "1.4.0"
libc = "0.2.71"
log = { version = "0.4.8", features = ["std"] }
might-be-minified = "0.3.0"
open = "1.4.0"
parking_lot = "0.10.0"
percent-encoding = "2.1.0"
plist = "0.5.3"
prettytable-rs = "0.8.0"
proguard = { version = "4.0.1", features = ["uuid"] }
r2d2 = "0.8.8"
rayon = "1.3.1"
regex = "1.3.9"
runas = "0.2.1"
rust-ini = "0.15.3"
sentry = { version = "0.18.0", default-features = false, features = ["with_client_implementation", "with_curl_transport", "with_panic", "with_failure", "with_log", "with_device_info", "with_rust_info", "with_debug_to_log"] }
serde = { version = "1.0.114", features = ["derive"] }
serde_json = "1.0.56"
sha1 = { version = "0.6.0", features = ["serde"] }
sourcemap = { version = "5.0.0", features = ["ram_bundle"] }
symbolic = { version = "7.5.0", features = ["debuginfo-serde"] }
url = "2.1.1"
username = "0.2.0"
uuid = { version = "0.8.1", features = ["v4", "serde"] }
walkdir = "2.3.1"
which = "3.1.1"
zip = "0.5.6"

[dev-dependencies]
assert_cmd = "1.0.1"
insta = { version = "0.16.0", features = ["redactions"] }
mockito = "0.26.0"
predicates = "1.0.4"
tempfile = "3.1.0"

[features]
default = ["with_crash_reporting"]
managed = []
with_crash_reporting = []

[target]

[target."cfg(target_os = \"macos\")"]

[target."cfg(target_os = \"macos\")".dependencies]
mac-process-info = "0.2.0"
osascript = "0.3.0"
unix-daemonize = "0.1.2"

[target."cfg(unix)"]

[target."cfg(unix)".dependencies]
openssl-probe = "0.1.2"
signal-hook = "0.1.16"
crossbeam-channel = "0.4.2"

[profile.release]
opt-level = 3
panic = "abort"
