[package]
authors = ["Armin Ronacher <armin.ronacher@active-4.com>"]
build = "build.rs"
name = "sentry-cli"
version = "1.73.2"
edition = "2018"

[dependencies]
anylog = "0.6.1"
app_dirs = "1.2.1"
backoff = "0.3.0"
backtrace = "0.3.63"
brotli2 = "0.3.2"
chardet = "0.2.4"
chrono = { version = "0.4.19", features = ["serde"] }
clap = { version = "2.33.1", default-features = false, features = ["suggestions", "wrap_help"] }
console = "0.15.0"
curl = { version = "0.4.42", features = ["static-curl", "static-ssl"] }
dirs = "3.0.2"
dotenv = "0.15.0"
elementtree = "0.5.0"
encoding = "0.2.33"
failure = { version = "0.1.8", features = ["derive"] }
flate2 = { version = "1.0.22", default-features = false, features = ["rust_backend"] }
git2 = { version = "0.14.1", default-features = false }
glob = "0.3.0"
if_chain = "1.0.2"
ignore = "0.4.18"
# Do not update due to https://github.com/console-rs/indicatif/issues/317 and https://github.com/getsentry/sentry-cli/pull/1055
indicatif = "0.14.0"
itertools = "0.10.3"
java-properties = "1.4.0"
lazy_static = "1.4.0"
libc = "0.2.115"
log = { version = "0.4.14", features = ["std"] }
might-be-minified = "0.3.0"
open = "1.4.0"
parking_lot = "0.11.2"
percent-encoding = "2.1.0"
plist = "1.3.1"
prettytable-rs = "0.8.0"
proguard = { version = "4.1.1", features = ["uuid"] }
r2d2 = "0.8.9"
rayon = "1.5.1"
regex = "1.5.4"
runas = "0.2.1"
rust-ini = "0.17.0"
semver = "1.0.4"
sentry = { version = "0.23.0", default-features = false, features = ["curl"] }
serde = { version = "1.0.136", features = ["derive"] }
serde_json = "1.0.78"
sha1 = { version = "0.6.0", features = ["serde"] }
sourcemap = { version = "5.0.0", features = ["ram_bundle"] }
symbolic = { version = "8.6.1", features = ["debuginfo-serde"] }
url = "2.2.2"
username = "0.2.0"
uuid = { version = "0.8.2", features = ["v4", "serde"] }
walkdir = "2.3.2"
which = "4.2.4"
zip = "0.5.13"

[dev-dependencies]
assert_cmd = "1.0.1"
insta = { version = "1.12.0", features = ["redactions"] }
mockito = "0.30.0"
predicates = "2.1.1"
tempfile = "3.3.0"

[features]
default = []
managed = []
with_crash_reporting = []

[target]

[target."cfg(target_os = \"macos\")"]

[target."cfg(target_os = \"macos\")".dependencies]
mac-process-info = "0.2.0"
osascript = "0.3.0"
unix-daemonize = "0.1.2"

[target."cfg(unix)"]

[target."cfg(unix)".dependencies]
openssl-probe = "0.1.5"
signal-hook = "0.3.13"
crossbeam-channel = "0.5.2"

[profile.release]
opt-level = 3
panic = "abort"
