name: Release Build

on:
  push:
    branches:
      - release/**

  # FIXME: Remove before merge
  pull_request:

jobs:
  linux:
    strategy:
      fail-fast: false
      matrix:
        arch: [i686, x86_64]

    name: Linux ${{ matrix.arch }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Build in Docker
        run: scripts/build-in-docker.sh
        env:
          TARGET: ${{ matrix.arch }}-unknown-linux-musl
          DOCKER_TAG: ${{ matrix.arch }}-musl

      - name: Rename Binary
        run: mv target/*/release/sentry-cli sentry-cli-Linux-${{ matrix.arch }}

      - uses: actions/upload-artifact@v2
        with:
          name: ${{ github.sha }}
          path: sentry-cli-Linux-${{ matrix.arch }}

  macos:
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: x86_64
            macos-version: "10.15"
          - arch: aarch64
            macos-version: "11.0"

    name: macOS ${{ matrix.arch }}
    runs-on: macos-${{ matrix.macos-version }}

    steps:
      - uses: actions/checkout@v2

      - uses: actions-rs/toolchain@v1
        with:
          # TODO: aarch64 requires beta, revert when 1.49.0 is released
          toolchain: beta-${{ matrix.arch }}-apple-darwin
          profile: minimal
          override: true

      - name: Run Cargo Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --target=${{ matrix.arch }}-apple-darwin --release --locked

      - name: Rename Binary
        run: mv target/${{ matrix.arch }}-apple-darwin/release/sentry-cli sentry-cli-Darwin-${{ matrix.arch }}

      - uses: actions/upload-artifact@v2
        with:
          name: ${{ github.sha }}
          path: sentry-cli-Darwin-${{ matrix.arch }}

  macos_universal:
    needs: macos
    name: macOS universal
    runs-on: macos-11.0

    steps:
      - uses: actions/download-artifact@v2
        with:
          name: ${{ github.sha }}

      - name: Link universal binary
        run: lipo -create -output sentry-cli-Darwin-universal sentry-cli-Darwin-x86_64 sentry-cli-Darwin-aarch64

      - uses: actions/upload-artifact@v2
        with:
          name: ${{ github.sha }}
          path: sentry-cli-Darwin-universal

  windows:
    strategy:
      fail-fast: false
      matrix:
        arch: [i686, x86_64]

    name: Windows ${{ matrix.arch }}
    runs-on: windows-2019

    steps:
      - uses: actions/checkout@v2

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable-${{ matrix.arch }}-pc-windows-msvc
          profile: minimal
          override: true

      - name: Run Cargo Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release --locked

      - name: Rename Binary
        run: mv target/release/sentry-cli.exe sentry-cli-Windows-${{ matrix.arch }}.exe

      - uses: actions/upload-artifact@v2
        with:
          name: ${{ github.sha }}
          path: sentry-cli-Windows-${{ matrix.arch }}.exe

  node:
    name: NPM Package
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js 8.x
        uses: actions/setup-node@v1
        with:
          node-version: 8.x

      - run: npm pack

      - uses: actions/upload-artifact@v2
        with:
          name: ${{ github.sha }}
          path: '*.tgz'
