name: Release Build

on:
  push:
    branches:
      - release/**

  # Temporary build on PRs
  pull_request:

jobs:
  linux:
    strategy:
      fail-fast: false
      matrix:
        arch: [i686, x86_64]

    name: Linux ${{ matrix.arch }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Build in Docker
        run: scripts/build-in-docker.sh
        env:
          TARGET: ${{ matrix.arch }}-unknown-linux-musl
          DOCKER_TAG: ${{ matrix.arch }}-musl

      - name: Rename Binary
        run: mv target/*/release/sentry-cli sentry-cli-Linux-${{ matrix.arch }}

      - uses: actions/upload-artifact@v2
        with:
          name: ${{ github.sha }}
          path: sentry-cli-Linux-${{ matrix.arch }}

  macos:
    strategy:
      fail-fast: false
      matrix:
        arch: [x86_64]  # TODO: Add arm64e when available

    name: macOS  ${{ matrix.arch }}
    runs-on: macos-10.15

    steps:
      - uses: actions/checkout@v2

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable-${{ matrix.arch }}-apple-darwin
          profile: minimal
          override: true

      - name: Run Cargo Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release --locked

      - name: Rename Binary
        run: mv target/release/sentry-cli sentry-cli-Darwin-${{ matrix.arch }}

      - uses: actions/upload-artifact@v2
        with:
          name: ${{ github.sha }}
          path: sentry-cli-Darwin-${{ matrix.arch }}

  windows:
    strategy:
      fail-fast: false
      matrix:
        arch: [i686, x86_64]

    name: Windows ${{ matrix.arch }}
    runs-on: windows-2019

    steps:
      - uses: actions/checkout@v2

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable-${{ matrix.arch }}-pc-windows-msvc
          profile: minimal
          override: true

      - name: Run Cargo Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release --locked

      - name: Rename Binary
        run: mv target/release/sentry-cli.exe sentry-cli-Windows-${{ matrix.arch }}.exe

      - uses: actions/upload-artifact@v2
        with:
          name: ${{ github.sha }}
          path: sentry-cli-Windows-${{ matrix.arch }}.exe

  node:
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js 8.x
        uses: actions/setup-node@v1
        with:
          node-version: 8.x

      - run: npm pack

      - uses: actions/upload-artifact@v2
        with:
          name: ${{ github.sha }}
          path: '*.tgz'
