name: CI

on:
  push:
    branches:
      - master
      - 1.x
      - release/**

  pull_request:

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  RUSTFLAGS: -Dwarnings

jobs:
  lint:
    name: Lint
    uses: ./.github/workflows/lint.yml

  test:
    name: Test
    uses: ./.github/workflows/test.yml

  test_node:
    name: Test Node
    uses: ./.github/workflows/test_node.yml
    with:
      triggered-by-release: ${{ github.event_name == 'push' && startsWith(github.ref_name, 'release/') }}

  test_swift:
    name: Test Swift
    uses: ./.github/workflows/swift-test.yml

  changelog:
    name: Changelog
    uses: ./.github/workflows/changelog-enforcement.yml

  required:
    name: Check required jobs
    runs-on: ubuntu-24.04
    needs: [lint, test, test_node, test_swift, changelog]
    if: always()
    steps:
      - name: Check for failure
        if: ${{
          needs.lint.result != 'success' ||
          needs.test.result != 'success' ||
          needs.test_node.result != 'success' ||
          needs.test_swift.result != 'success' ||
          (needs.changelog.result != 'success' && needs.changelog.result != 'skipped')
          }}
        run: |
          echo "One or more jobs failed"
          exit 1
