name: CI

on:
  push:
    branches:
      - master
      - 1.x
      - release/**

  pull_request:

env:
  RUSTFLAGS: -Dwarnings

jobs:
  lint-each-os:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, macos-14, windows-2022]

    name: Lint (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # 4.2.2

      - name: Install Rust Toolchain
        run: rustup toolchain install stable --profile minimal --component clippy --component rustfmt --no-self-update

      - uses: swatinem/rust-cache@9d47c6ad4b02e050fd481d890b2ea34778fd09d6 # 2.7.8

      - name: Run Rustfmt
        run: cargo fmt --all -- --check

      - name: Run Clippy
        run: cargo clippy --workspace --tests

  lint:
    needs: lint-each-os
    runs-on: ubuntu-24.04
    if: always() # Run even if lint-each-os fails
    name: Lint
    steps:
      - name: Check for lint failures
        if: contains(needs.lint-each-os.result, 'failure') || contains(needs.lint-each-os.result, 'skipped')
        run: |
          echo "Required lint check failed. You need to fix the problem before merging."
          exit 1

  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, macos-14, windows-2022]

    name: Test (${{ matrix.os }})
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # 4.2.2

      - uses: swatinem/rust-cache@9d47c6ad4b02e050fd481d890b2ea34778fd09d6 # 2.7.8
        with:
          key: ${{ github.job }}

      - name: Run Cargo Tests
        run: cargo test --all

  test_node:
    strategy:
      fail-fast: false
      matrix:
        node-version: [10.x, 12.x, 14.x, 16.x, 18.x, 20.x]

    name: Test Node ${{ matrix.node-version }}
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # 4.2.2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@cdca7365b2dadb8aad0a33bc7601856ffabcc48e # 4.3.0
        with:
          node-version: ${{ matrix.node-version }}

      # We need to skip the fallback download because downloading will fail on release branches because the new version isn't available yet.
      - run: SENTRYCLI_SKIP_DOWNLOAD=1 npm install

      # older node versions need an older nft
      - run: SENTRYCLI_SKIP_DOWNLOAD=1 npm install @vercel/nft@0.22.1
        if: matrix.node-version == '10.x' || matrix.node-version == '12.x'

      - run: npm test

  test_debug_files_upload:
    runs-on: macos-15
    steps:
      - run: |
          curl -sL https://sentry.io/get-cli/ | sh
          sentry-cli debug-files upload --auth-token=1234567890 --org sentry --project cli --log-level trace .
