name: Lint

on:
  workflow_call:
    outputs:
      matrix-result:
        description: 'Matrix job result'
        value: ${{ jobs.lint.result }}

env:
  RUSTFLAGS: -Dwarnings

jobs:
  lint:
    strategy:
      fail-fast: false
      matrix:
        target:
          - x86_64-unknown-linux-musl
          - x86_64-pc-windows-msvc
          - aarch64-apple-darwin
          - x86_64-apple-darwin
        include:
          - target: x86_64-unknown-linux-musl
            os: ubuntu-24.04
            display-os: Linux
          - target: x86_64-pc-windows-msvc
            os: windows-2022
            display-os: Windows
          - target: aarch64-apple-darwin
            os: macos-14
            display-os: macOS – aarch64
          - target: x86_64-apple-darwin
            os: macos-14
            display-os: macOS – x86_64

    name: ${{ matrix.display-os }}
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # 5.0.0

      - name: Setup Rust Toolchain
        run: |
          rustup set profile minimal
          rustup component add clippy rustfmt
          rustup target add ${{ matrix.target }}

      - name: Install musl-gcc (Linux only)
        if: matrix.os == 'ubuntu-24.04'
        run: |
          sudo apt-get update
          sudo apt-get install -y musl-tools

      - name: Cache Dependencies
        uses: swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0 # 2.8.0

      - name: Run Rustfmt
        run: cargo fmt --all -- --check

      - name: Run Clippy
        run: cargo clippy --workspace --tests --target ${{ matrix.target }}
