name: Release GHCR Versioned Image

on:
  release:
    types: [prereleased, released]

permissions:
  contents: write
  pull-requests: write

jobs:
  release-ghcr-version-tag:
    runs-on: ubuntu-24.04
    steps:
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # 3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Tag release version
        run: |
          docker buildx imagetools create \
            -t ghcr.io/getsentry/sentry-cli:${{ github.ref_name }} \
            ghcr.io/getsentry/sentry-cli:${{ github.sha }}
