name: Test Swift

on:
  workflow_call:
    outputs:
      matrix-result:
        description: 'Job result'
        value: ${{ jobs.run-tests.result }}

jobs:
  run-tests:
    name: Run tests
    runs-on: macos-15
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # 6.0.2
      - name: Run tests
        working-directory: apple-catalog-parsing/native/swift/AssetCatalogParser
        run: swift test
