name: Swift Test

on:
  push:
    branches:
      - master
      - release/**

  pull_request:

jobs:
  run-tests:
    runs-on: macos-15
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # 4.2.2
      - name: Run tests
        working-directory: native/swift/AssetCatalogParser
        run: swift test
