name: Test Node

on:
  workflow_call:
    inputs:
      triggered-by-release:
        type: boolean
        description: Whether the workflow was triggered by a release
        default: false
    outputs:
      matrix-result:
        description: 'Matrix job result'
        value: ${{ jobs.test_node.result }}

jobs:
  type_check:
    name: Type Check
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1

      - name: Use Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # 6.2.0
        with:
          node-version-file: package.json

      - name: Install dependencies via npm ci
        if: ${{ !inputs.triggered-by-release }}
        run: npm ci --ignore-scripts

      # For pushes to the release branch, we need to install the dependencies via `npm install`
      # because the `package-lock.json` is not updated with the new versions of the optional
      # dependencies yet. We also must skip the fallback download via --ignore-scripts.
      - name: Install dependencies via npm install (for pushes to release branch)
        if: ${{ inputs.triggered-by-release }}
        run: npm install --omit=optional --ignore-scripts

      - run: npm run check:types

  prepare_build:
    name: Prepare Build
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1

      - name: Use Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # 6.2.0
        with:
          node-version-file: package.json

      - name: Install dependencies via npm ci
        if: ${{ !inputs.triggered-by-release }}
        run: npm ci --ignore-scripts

      # For pushes to the release branch, we need to install the dependencies via `npm install`
      # because the `package-lock.json` is not updated with the new versions of the optional
      # dependencies yet. We also must skip the fallback download via --ignore-scripts.
      - name: Install dependencies via npm install (for pushes to release branch)
        if: ${{ inputs.triggered-by-release }}
        run: npm install --omit=optional --ignore-scripts

      - name: Build
        run: npm run build

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # 6.0.0
        with:
          name: artifact-build
          path: js

  test_node:
    needs: prepare_build
    strategy:
      fail-fast: false
      matrix:
        node-version: [18.x, 20.x, 22.x, 24.x]

    name: Test Node ${{ matrix.node-version }}
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # 6.2.0
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies via npm ci
        if: ${{ !inputs.triggered-by-release }}
        run: npm ci --ignore-scripts

      # For pushes to the release branch, we need to install the dependencies via `npm install`
      # because the `package-lock.json` is not updated with the new versions of the optional
      # dependencies yet. We also must skip the fallback download via --ignore-scripts.
      - name: Install dependencies via npm install (for pushes to release branch)
        if: ${{ inputs.triggered-by-release }}
        run: npm install --omit=optional --ignore-scripts

      - name: Download build artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # 7.0.0
        with:
          name: artifact-build
          path: js

      - run: npm test
