name: Test

on:
  workflow_call:
    outputs:
      matrix-result:
        description: 'Matrix job result'
        value: ${{ jobs.test.result }}

env:
  RUSTFLAGS: -Dwarnings

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        target:
          - x86_64-unknown-linux-musl
          - x86_64-pc-windows-msvc
          - aarch64-apple-darwin
          - x86_64-apple-darwin
        include:
          - target: x86_64-unknown-linux-musl
            os: ubuntu-24.04
            display-os: Linux
          - target: x86_64-pc-windows-msvc
            os: windows-2022
            display-os: Windows
          - target: aarch64-apple-darwin
            os: macos-14
            display-os: macOS – aarch64
          - target: x86_64-apple-darwin
            os: macos-14
            display-os: macOS – x86_64

    name: ${{ matrix.display-os }}
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1

      - name: Setup Rust Toolchain
        run: |
          rustup set profile minimal
          rustup target add ${{ matrix.target }}

      - name: Install musl-gcc (Linux only)
        if: matrix.os == 'ubuntu-24.04'
        run: |
          sudo apt-get update
          sudo apt-get install -y musl-tools

      - name: Cache Dependencies
        uses: swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # 2.8.2

      - name: Run Cargo Tests
        run: cargo test --workspace --target ${{ matrix.target }}
