name: Test Node

on:
  workflow_call:
    inputs:
      triggered-by-release:
        type: boolean
        description: Whether the workflow was triggered by a release
        default: false
    outputs:
      matrix-result:
        description: 'Matrix job result'
        value: ${{ jobs.test_node.result }}

jobs:
  type_check:
    name: Type Check
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # 5.0.0

      - name: Use Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # 6.0.0
        with:
          node-version-file: package.json

      - name: Install dependencies via npm ci
        if: ${{ !inputs.triggered-by-release }}
        run: npm ci --ignore-scripts

      # For pushes to the release branch, we need to install the dependencies via `npm install`
      # because the `package-lock.json` is not updated with the new versions of the optional
      # dependencies yet. We also must skip the fallback download via --ignore-scripts.
      - name: Install dependencies via npm install (for pushes to release branch)
        if: ${{ inputs.triggered-by-release }}
        run: npm install --omit=optional --ignore-scripts

      - run: npm run check:types

  prepare_build:
    name: Prepare Build
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # 5.0.0

      - name: Use Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # 6.0.0
        with:
          node-version-file: package.json

      - name: Install dependencies
        run: npm ci --ignore-scripts

      - name: Build
        run: npm run build

      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # 4.6.2
        with:
          name: artifact-build
          path: js

  test_node:
    needs: prepare_build
    strategy:
      fail-fast: false
      matrix:
        node-version: [10.x, 12.x, 14.x, 16.x, 18.x, 20.x, 22.x, 24.x]

    name: Test Node ${{ matrix.node-version }}
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # 5.0.0

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # 6.0.0
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies via npm ci
        if: ${{ !inputs.triggered-by-release }}
        run: npm ci --ignore-scripts

      # For pushes to the release branch, we need to install the dependencies via `npm install`
      # because the `package-lock.json` is not updated with the new versions of the optional
      # dependencies yet. We also must skip the fallback download via --ignore-scripts.
      - name: Install dependencies via npm install (for pushes to release branch)
        if: ${{ inputs.triggered-by-release }}
        run: npm install --omit=optional --ignore-scripts

      - name: Download build artifact
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # 5.0.0
        with:
          name: artifact-build
          path: js

      - name: Install CLI
        run: npm run install-cli

      # older node versions need an older nft
      - run: SENTRYCLI_SKIP_DOWNLOAD=1 npm install @vercel/nft@0.22.1
        if: matrix.node-version == '10.x' || matrix.node-version == '12.x'

      - run: npm test
