name: Test

on:
  workflow_call:
    outputs:
      matrix-result:
        description: 'Matrix job result'
        value: ${{ jobs.test.result }}

env:
  RUSTFLAGS: -Dwarnings

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        target:
          - x86_64-unknown-linux-musl
          - x86_64-pc-windows-msvc
          - aarch64-apple-darwin
          - x86_64-apple-darwin
        include:
          - target: x86_64-unknown-linux-musl
            os: ubuntu-24.04
            display-os: Linux
          - target: x86_64-pc-windows-msvc
            os: windows-2022
            display-os: Windows
          - target: aarch64-apple-darwin
            os: macos-14
            display-os: macOS – aarch64
          - target: x86_64-apple-darwin
            os: macos-14
            display-os: macOS – x86_64

    name: ${{ matrix.display-os }}
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6 # v6 # 6.0.1

      - name: Setup Rust Toolchain
        run: |
          rustup set profile minimal
          rustup target add ${{ matrix.target }}

      - name: Install musl-gcc (Linux only)
        if: matrix.os == 'ubuntu-24.04'
        run: |
          sudo apt-get update
          sudo apt-get install -y musl-tools

      # On x86_64, this environment variable specifies to the openssl-sys crate
      # where to find the OpenSSL library.
      - name: Set OpenSSL env (x86_64)
        if: matrix.target == 'x86_64-apple-darwin'
        run: echo "X86_64_APPLE_DARWIN_OPENSSL_DIR=${{ github.workspace }}/openssl-x86_64" >> $GITHUB_ENV

      - name: Get OpenSSL cache month (x86_64)
        if: matrix.target == 'x86_64-apple-darwin'
        id: cache-date
        run: echo "month=$(date +%Y-%m)" >> $GITHUB_OUTPUT

      - name: Cache x86_64 OpenSSL
        if: matrix.target == 'x86_64-apple-darwin'
        id: cache-openssl-x86
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # 5.0.1
        with:
          path: ${{ env.X86_64_APPLE_DARWIN_OPENSSL_DIR }}
          key: openssl-x86_64-${{ runner.os }}-${{ steps.cache-date.outputs.month }}

      # To cross-compile for x86_64 from an ARM-based macOS runner, we need to have the
      # x86_64 OpenSSL libraries installed locally.
      - name: Download x86_64 OpenSSL
        if: matrix.target == 'x86_64-apple-darwin' && steps.cache-openssl-x86.outputs.cache-hit != 'true'
        run: |
          brew fetch --bottle-tag=sonoma openssl@3
          mkdir -p $X86_64_APPLE_DARWIN_OPENSSL_DIR
          tar xzf $(brew --cache --bottle-tag=sonoma openssl@3) -C $X86_64_APPLE_DARWIN_OPENSSL_DIR --strip-components=2

      - name: Cache Dependencies
        uses: swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # 2.8.2

      - name: Run Cargo Tests
        run: cargo test --workspace --target ${{ matrix.target }}
